body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/Fondo.png);
    background-size: cover;
    padding-top: 7%
}


.board {
    height: 504px;
    width: 504px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}


